
.disgnMainDivMovies{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 5%;
  
}

.mainMovies{
  background-color: rgb(83, 80, 80);
  border: 1px solid white;
  display: flex;
  max-width: 20vw;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 0.3rem;

}

img {
  max-width:100%;
  border-radius: 10px;
}

.nameOfMovie{
  font-family: 'Festive', cursive;
  color: white;
}

.sectionDiv{
  background-color: black;
}

.inputDivAround{
 text-align: center;
padding: 2em;
}

.SearchInput{
  width: 80%;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 1em;
  padding: 1em;
  
}

.SearchInput:focus{
  outline: 2px solid rgb(248, 141, 0);
}